<!DOCTYPE html> 
<html lang="fr">
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {{.Title}} - Puissance 4</title>
        <link rel="stylesheet" href="/static/game.css">
    </head>
    <body> 
        <header> 
            <h1>🔴🟡 Puissance 4 🟡🔴</h1>
        </header>
        <main> 
            {{template "content" .}}
        </main>
        <footer> 
            <p> Jeu de Noé en go</p>
        </footer>
    </body>
</html>